<a href="https://colab.research.google.com/github/kaylee-espinosa/BTE320/blob/main/Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In Class Assignment (1/24)
Find the Area of a Cylinder

In [ ]:
# Calculating the area of cyclinder with Input
radius= float(input("Enter Radius= ")) #You can put float instead of int so that the person can put any number
height = float(input("Enter Height= "))
pi = 3.14
area = 2*pi*(radius**2) + 2*pi*radius*height
print("Area of Cyclinder =" , area , "sq. ft")

Enter Radius= 5
Enter Height= 3.2
Area of Cyclinder = 257.48 sq. ft

In Class Assignment (1/31)
Numerical Calculator

In [ ]:
n1= float(input("Please provide number: "))
n2= float(input("Please providea second number: "))
opr= input("Enter operator (+,-,/,//,**,%): ")

if opr == "+":
  print(n1+n2)
elif opr == "-":
  print(n1-n2)
elif opr =="/":
  print(n1/n2)
elif opr =="//":
  print("The rounded quotient is", (n1//n2))
elif opr == "**":
  print(n1, "raised to the power of",n2, "is", (n1**n2))
elif opr == "%":
  print("The remainder of", n1, "divided by",n2, "is", (n1%n2))
else:
    print("Invalid Operator!")

Please provide number: 9
Please providea second number: 6
Enter operator (+,-,/,//,**,%): /
1.5

In Class Assignment (2/5)
Parking Garage

In [ ]:
#A parking garage charges 5 plus 2.5 hourly, min 10 and max 20
for hours in range(1,9):
  fee = 5 + 2.5  * hours
  if fee <= 10:
    fee = 10
  elif fee >= 20:
    fee = 20
  print (hours, fee)

1 10
2 10
3 12.5
4 15.0
5 17.5
6 20
7 20
8 20

In Class Assignment (2/5) Movie Theatre Admission Tickets

In [ ]:
# A movie theater on how much for advertising

for cost in range(0,201,25):
  attendees =20
  additionalattendees = 2.0 * round(cost**.5)
  profit = (attendees +additionalattendees) * 10 - 200

  print( cost, profit-cost)

0 0.0
25 75.0
50 90.0
75 105.0
100 100.0
125 95.0
150 90.0
175 85.0
200 80.0

In [ ]:
print("Ad$\t", "Profit")
for adcost in range(0,201,25):
  additional = 2 * round(adcost**0.5)
  profit = (20 + additional) * 10 - 200 - adcost
  print(adcost, "\t", profit)

Ad$	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In Class Assignment (2/10)
Rock, Paper, Scissors Game

In [ ]:
play = input("Do you want to play the game (yes/no): ")

while play == "yes":
  p1= input("Player 1- Select Rock, Paper, Scissors: " )
  p2= input("Player 2- Select Rock, Paper, Scissors: " )

  if p1 == p2:
    print ("Draw!")
  elif  ((p1 == "Rock" and p2 == "Scissors")
      or (p1 == "Paper" and p2 == "Rock")
      or (p1 == "Scissors" and p2 == "Paper")):
    print("Player 1 Wins!")
  else:
    print("Player 2 Wins!")

  play = input("Do you want to play another game yes/no): ")
print("Good day...")

Do you want to play the game (yes/no): yes
Player 1- Select Rock, Paper, Scissors: Paper
Player 2- Select Rock, Paper, Scissors: Rock
Player 1 Wins!
Do you want to play another game yes/no): no
Good day...

In Class Assignment (2/17)

In [ ]:
# creates a list that the user inputs and stops when inputs 0
L = []
num = int(input("Please enter a number: "))

while num != 0:
  L.append(num)
  print([num])
  num = int(input("Please enter another number: "))
L.sort(reverse=True)
L

Please enter a number: 7
[7]
Please enter another number: 9
[9]
Please enter another number: 0

[9, 7]

In Class Assignment (2/21) Dynamic Dictionary- Months/Numbers

In [ ]:
months ={}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in range(len(numbers)):
  months[numbers[idx]] = names[idx]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
months ={}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for num in numbers:
  months[num] = names[num - 1]
months

In Class Assignment (2/21)- Dynamic Dictionary (5 values)

In [ ]:
# Build a dictionary dynamically
counts = {}

while len(counts) < 5:
  letter= input("Please input a letter: ")
  if letter not in counts:
    counts[letter] = 1
  else:
    counts[letter] += 1
counts

Please input a letter: o
Please input a letter: l
Please input a letter: p
Please input a letter: p
Please input a letter: m
Please input a letter: t

{'o': 1, 'l': 1, 'p': 2, 'm': 1, 't': 1}

In Class Assignment (2/26)
Parking Garage 2.0
-Parking Garage charges $5 plus 2.5 for each hour, min fee is 10 and max fee is 20... hours from 1 to 8.

In [ ]:
def calcFee(hours):
    fee = 5 + 2.5 * hours #if you add the for loop that is what makes the program give all the prices
    if fee <= 10:
      fee = 10
    elif fee >=20:
     fee = 20
    print(f"fee: {fee}$")

numHours = int(input("Enter number of hour(s): "))
calcFee(numHours)

Enter number of hour(s): 6
fee: 20$

In Class Assignment (3/21)
Recursive... make a string appear backwards

In [5]:
def reverse(s):
  if len(s) <= 1:
    return s
  else:
    return reverse(s[1:]) + s[0]

reverse("Hello")

'olleH'